@model PhotoStudioApp.Models.StudioSubscription

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="js/bootstrap-datepicker.js"></script>

<script>

    $(function () {
        $("#txtDate").datepicker({
            minDate: -365,
            maxDate: 365,
            changeMonth: true,
            changeYear: true
        });
    });

    $(document).ready(function () {

    });

</script>

    <h2>Subscription Page</h2>


    @using (Html.BeginForm("Add", "StudioSubscription", FormMethod.Post, new { id = "frmAdd" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            @Html.HiddenFor(m => m.StudioSubscriptionId, new { @class = "form-control" })
            <div class="col-md-4">
                <label for="">Subscription Date</label>
                @Html.TextBoxFor(m => m.subscriptionDate, new { @class = "form-control", id= "txtDate" })
                @Html.ValidationMessageFor(model => model.subscriptionDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <label for="">Subscription Period</label>
                @Html.TextBoxFor(m => m.subscriptionPeriod, new { @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(model => model.subscriptionPeriod, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="">Subscription Amount</label>
                @Html.TextBoxFor(m => m.subscriptionAmount, new { @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(model => model.subscriptionAmount, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Sabscribe" class="btn btn-default" />
            </div>
        </div>

    }
